/* || GENERAL STYLES*/
@font-face {
	font-family: "Inconsolata";
	src: url("../fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
}

body {
	background-color: #F5F7F9;
	padding: 0;
}

main {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}

button {
	border: 0;
	cursor: pointer;
}

h1 {
	font-size: 70px;
	font-weight: 600;
}

p {
	margin-top: 10px;
}

a {
	text-decoration: none;
}

footer {
	background-color: #363d46;
	color: #f3eee0;
	position: relative;
	top: 153px;
}

/* || LIBRARY STYLE*/
.addBook-container {
	margin-right: 150px;
	margin-top: 50px;
	margin-bottom: 70px;
	position: relative;
	bottom: 0px;
	transition: 1s;
}

.addBook {
	border-radius: 20px;
}

/* || WANT TO ADD ANOTHER BOOK -- FOLD*/
.fold {
	background-color: #f0f0f0;
	overflow: hidden;
	width: 95%;
	height: 0px;
	transition: 1s;
}

.input {
	margin-top: 15px;
	width: 80%;
	padding: 5px;
	height: 20px;
	border-radius: 10px;
	border: 1px solid black;
}

.haveRead {
	margin-top: 20px;
	margin-bottom: 20px;
}

.submit {
	margin-bottom: 20px;
}

.close {
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

/* || BOOKSHELVES STYLE*/
.tag {
	width: 140px;
	height: 40px;
	border-top:;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
	border-left: 1px solid #cdd0eb;
	border-top: 1px solid #cdd0eb;
	border-right: 1px solid #cdd0eb;
}

.bookshelf {
	width: 600px;
	height: 350px;
	background-color: #f0f0f0;
	border: 1px solid #cdd0eb;
	overflow: auto;
}

.book {
	background-color: #e0e0e0;
	padding: 15px 0;
	border-top: 1px solid #cdd0cb;
	border-bottom: 1px solid #cdd0cb;
	margin-top: 10px;
  	display: flex;
	align-items: center;
	justify-content: space-between;
}

.remove {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}

.remove img {
	width: 15px;
}

/* || TOGGLE BUTTON STYLE*/
.toggle {
	width: 50px;
	height: 25px;
	background-color: #bbbbbb;
	margin-right: 15px;
	border-radius: 15px;
	cursor: pointer;
}

.toggle-active {
	background-color: #eeeeee;
}

.circle {
	background-color: #756d6d;
	width: 25px;
	height: 25px;
	border-radius: 100%;
}

.circle-active {
	background-color: #16e79a;
	position: relative;
	left: 25px;
}

/* || FOOTER*/
.footer-container {
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.git{

	display: flex;
	align-items: center;
}

.store {
	display: flex;
	align-items: center;
}

.st-btn:first-child {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.st-btn:last-child {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

/* || UTILITIES*/
.divisor {
	display: flex;
	justify-content: space-between;
}

.vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.font-20{
	font-size: 20px;
}

.incon-font {
	font-family: inconsolata;
	cursor: zoom-in;
}

.btn {
	padding: 10px 15px;
	border: 1px solid #cdd0eb;
	background-color: #e8eaeb;
	cursor: pointer;
}

.btn:active {
	background-color: #e8efeb;
}